body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.image_wrapper {
	display: block;
}

.image_wrapper img {
	display: block;
	width: 100%;
}



.container {
	display: block;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}

.container .wrapper {
	display: block;
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	width: calc(100% - 24px);
}

@media only screen and (min-width: 1024px) {
	.container .wrapper {

	}
}

header {
	padding: 16px 0;
}

header .container {
	position: relative;
}

header .container .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	border: 2px solid #dddddd;
	background-color: white;
}

.header_logo{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	margin:  0 auto;
	padding: 60px;
}

#burger {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
}

#burger img {
	display: block;
	width: 80%;
	margin: 0 auto;
}

#burger img.closed_menu {
	display: block;
}

#burger img.opened_menu {
	display: none;
}

.expand_menu #burger img.closed_menu {
	display: none;
}

.expand_menu #burger img.opened_menu {
	display: block;
}

header nav {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	background-color: #ffffff;
	width: 100%;
}

.expand_menu header nav {
	display: block;
}

header nav ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

header nav ul li {
	display: block;
	position: relative;
	width: 100%;
	padding: 0;
}

header nav ul li ~ li::before {
	content:  '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 1px;
	background-color: #000000;
}

header nav ul li a {
	display: block;
	text-align: center;
	padding: 16px 0;
	text-decoration: none;
}



main {
	padding: 16px 0;
}




footer {
	padding: 32px 0;
	background-color: black;
	color: white;
}



/*Desktop styles*/
@media only screen and (min-width: 1024px) {
	.header_logo {
		max-width: 320px;
	}

	#burger {
		display: none;
	}

	header nav {
		display: block;
		position: relative;
		left: auto;
		transform: none;
		top: auto;
		width: 60%;
		background-color: transparent;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		position: relative;
	}

	header nav ul li ~ li::before {
		content:  none;
	}

}

main .container .wrapper .copy_block{
	display: flex;
    max-height: 1024px;
    min-height: 320px;
    background-image: url(../images/recept.png);
background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

main .container .wrapper .copy_block .text_block{
	width: 46%;
	text-align: center;
}

main .container .wrapper .copy_block .text_block .img_logo{
	margin: 25px;
	width: 252px;
	max-width: 175px;
}
main .container .wrapper .copy_block .text_block h1{
	font-size: 24px;
	font-family: Playfair Display Regular;
	position: relative;
	text-align: center;
	padding: 10px;
	margin: 5px;
	display: block;
	color: #b5777e;
}

main .container .wrapper .copy_block .text_block p{
	text-align: left;
	padding: 10px;
	font-family:'Josefin Sans', sans-serif;
	margin: 20px;
	font-size: 16px;

}
main .container .wrapper .copy_block .text_block a{
	border: 2px solid #c2c2c2;
	padding: 5px;
	text-decoration: none;
}

.block_recept{
	background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px 0 20px 0;
}
.recept_img{
	margin: 0;
}
.block{
	text-align: center;
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 320px;
	}

footer .container .wrapper{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

footer .container .wrapper nav{
	display: flex;
}

footer .container .wrapper nav li{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	font-size: 15px;
	color: white;
}

footer .container .wrapper .footer_logo{
	display: flex;
}

footer .container .wrapper .footer_logo img{
	width: 86px;
}


/*RECEPT HTML PAGE*/
.recept_page main .container{

}
.recept{
	display: flex;
	background-color: white;

}
.recept_page main .container .recept_logo{
	display: flex;
  width: 44.3%;
  flex-direction: column;
}

.recept_text{
	margin: 0 25px;
	overflow: scroll;

	height: 350px;
}
@media all and (max-width: 1240px){
	.recept{
		width: 993px;
	}
}
@media all and (max-width: 480px){
	.recept{
		width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
}


/*AUTHOR*/

.author{
	border: 2px solid white;
	background-color: white;
	margin: 20px 0;
}
.author .header_avtor{
	margin: 10px;
}
.author .header_avtor h3{
	font-family: Myriad Pro;
	font-size: 20px;
}
.author .author_img{
	display: flex;
}

.author .info_author{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}
.author .info_author h2{
	font-size: 20px;

}
.author .info_author p{

	font-size: 16px;
}
.author .about_recept{
	display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: center;
}